.DS_Store
.gradle
.metadata
/bin
/build
.project
.classpath
.settings
.bundle
.gradletasknamecache
.idea/
.tm_properties
.externalToolBuilders
*.ipr
*.iws
*.iml
*.swp
*/*.class
*/*.jar
.checkstyle
logs/
out/
*.pyc
.jsptree.index
